:root {
	--first-brand-color:  #6443c4;
	--second-brand-color:  #97defc;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px; 
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #eee;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--first-brand-color);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    /*background: var(--second-brand-color);*/
  }

/* Main nav */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100%;
  background: #fff;
  min-height: 70px;
  padding-left: 2rem;
  padding-right: 2rem;
 box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

nav .logo {
	max-width: 150px;
	width: 100%;
	height: auto;
}

nav ul {
  --padding: 20px;
  --font-size: 17px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--font-size);
  overflow-y: hidden;
  /*transition: 1s cubic-bezier(.68,-0.55,.27,10.55);*/
}

nav ul li {
  padding: var(--padding);
}

nav ul li a {
  color: var(--first-brand-color);
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  letter-spacing: 0.5px;
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 1.7px;
  border-radius: 99px;
  background: var(--main-clr);
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition:  0.3s ease;
  transition: 0.3s ease;
}

nav ul li a:hover {
	color: darkred;
}

nav ul li a:hover::after {
  width: 100%;
}

/* Hamburger Menu */
nav .menu {
  width: 22px;
  height: 16px;
  cursor: pointer;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin: 20px;
}

nav .menu span {
  width: 100%;
  height: 2px;
  border-radius: 99px;
  background: var(--first-brand-color);
  -webkit-transition:  0.3s ease;
  transition: 0.3s ease;
  -webkit-transform-origin: left;
          transform-origin: left;
}

nav .menu.active span {
  background: var(--first-brand-color);
}

nav .menu.active span:nth-child(1) {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

nav .menu span:nth-child(3) {
  -webkit-transform-origin: left;
          transform-origin: left;
}

nav .menu.active span:nth-child(3) {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

nav .menu.active span:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
}

@media (max-width: 910px) {
  nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  nav ul {
    --height: 0px;

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

        -ms-flex-direction: column;

            flex-direction: column;
    background: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    top: 70px;
    height: var(--height);
    -webkit-transition:  1s cubic-bezier(.68,-0.55,.27,1.55);
    transition: 1s cubic-bezier(.68,-0.55,.27,1.55);
  }
  nav ul.active {
  	/*border-top: 1px solid #00cdd2;*/
    --height: calc(
      (((var(--padding) * 2) + (var(--font-size) * 1.5))) * var(--childenNumber)
    );
    /*   (Block Level Padding + The Font Size) * The Number of Children   */
    
   
    -webkit-transition:  1s ease;
    
   
    transition: 1s ease;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }
  nav ul li a {
    width: 100%;
    /*text-transform: capitalize;*/
  }
}


/* General */
body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
}

.page-wrap {
	background-color: #fff;
	position: relative;
	z-index: 1;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: var(--first-brand-color);
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

section {
	padding: 5rem 0;
}

.button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-transform: uppercase;
	padding: 0.5rem 1rem;
	min-width: 9.375rem;
	min-height: 2.5rem;
	border-radius: 3px;
	letter-spacing: 0.5px;
}

.button:hover {
	opacity: 0.9;
}

.button-primary {
	background-color: var(--first-brand-color);
	color: #fff !important;
}

.button-bordered {
	color: var(--first-brand-color) !important;
	border: 1px solid var(--first-brand-color);
}

.button-white {
	background: #fff;
	color: var(--first-brand-color);
}

.button-grad {
  background-image: -webkit-linear-gradient(left, var(--first-brand-color) 0%, var(--second-brand-color)  51%, var(--first-brand-color)  100%);
  background-image: linear-gradient(to right, var(--first-brand-color) 0%, var(--second-brand-color)  51%, var(--first-brand-color)  100%);
  -webkit-transition:  0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.27);
}

.button-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
}


.intro {
	text-align: center;
	max-width: 56.25rem;
	width: 100%;
	margin: 0 auto;
}

.intro p {
	font-size: 1.2rem;
	letter-spacing: 0.4px;
	color: var(--first-brand-color);
	margin-bottom: 1.5rem;
}


/*.navbar-sticky {
	background-color: rgba(255, 255, 255, 0.90) !important;
    -webkit-box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
            box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}*/

.section-alternate {
	background: var(--first-brand-color);
}

.section-alternate * {
	color: #fff;
}

.section-alternate .button {
	background-color: #fff;
	color: var(--first-brand-color) !important;
}

.list-styled {
	margin-bottom: 1rem;
}

.list-styled > li {
	position: relative;
	padding-left: 30px;
	margin-bottom: 5px;
}

.list-styled > li:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
 	background: url("../images/check.png") left top / cover no-repeat;
}

.list-styled > li > ul {
	list-style-type: circle;
	margin-left: 20px;
}

.section-hero {
	background: url("../images/section-hero-bg.svg") left top / cover no-repeat;
	/*background-image: linear-gradient(var(--first-brand-color), var(--second-brand-color));*/
}

.section-hero h1 {
	font-size: 2rem;
	max-width: 900px;
	color: #000;
	letter-spacing: 0.2px;
}

/* Home */
.home-hero {
	min-height: 40rem;
	padding-top: 10%;
}

.home-hero h1 {
	max-width: 35rem;
	width: 100%;
	font-size: 2.5rem;
	margin-top: 4rem;
}

.home-services-title {
	border-top: 1px solid var(--second-brand-color);
	padding-top: 10px;
	margin-bottom: 20px;
}

.home-services-banner {
	background: url("../images/simple-shiny.svg") left top / cover no-repeat;
}

.home-services-banner .container {
	max-width: 900px;
}

.banner {
}

/* About */
.about-hero {
	position: relative;
	overflow: hidden;
}

.about-hero img {
	position: absolute;
	bottom: -5vw;
	right: 5%;
	width: 20%;
	height: auto;
}

.about-world {
	position: relative;
	height: 20rem;
	overflow: hidden;
}

.about-world img {
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	z-index: 1;
	opacity: 0.2;
	max-width: 1000px;
	width: 100%;
}

.about-world .intro {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	z-index: 2;
}

/* Services */

/* Contact */
.contact-form {
	position: relative;
	z-index: 1;
	margin-top: -150px;
	background: #fff;
}

/* Footer */
.footer {
	text-align: center;
	background-color: var(--first-brand-color);
	padding-top: 2rem;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: auto;
	overflow: hidden;
}

.footer .logo {
	width: 150px;
	height: auto;
	-webkit-filter: brightness(0) invert(1);
	        filter: brightness(0) invert(1);
	margin-bottom: 1.5rem;
}

.footer li {
	margin-left: 1rem;
}

.footer ul a {
	color: #fff;
	text-transform: uppercase;
}

.footer-copyright {
	color: #fff;
	padding: 1rem 0;
	margin-top: 2rem;
	font-size: 0.8rem;
	border-top: 1px solid #fff;
}

button:disabled {
  opacity: 0.63 !important;
  color: #000 !important;
  cursor: not-allowed;
}

button:disabled:hover {
	background-position: left;
}

@media (max-width: 767px) {
	.home-hero h1 {
		font-size: 2rem;
	}

	.about-hero img {
		bottom: -2.5vw;
		width: 40%;
	}

	.about-world img {
		top: 50%;
	}

	.about-world .intro {
		padding-left: 15px;
		padding-right: 15px;
	}


	.home-services .button {
		margin: 0 auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 150px;
	}

	.home-services-banner h2 {
		margin-left: 5%;
	}
}

@media (max-width: 575px) {
	.footer li {
		display: block;
		margin-bottom: 5px;
	}
	.footer ul a {
		width: 100%;
	}
}