:root {
	--first-brand-color:  #ed1e79;
	--second-brand-color:  #662d91;
	--third-brand-color:  #1b1464;
	--white:  #fff;
	--black:  #000;
}

@font-face {
  font-family: Exo-Light;
  src: url(../fonts/Exo-Light.ttf);
}

@font-face {
  font-family: Exo-SemiBold;
  src: url(../fonts/Exo-SemiBold.ttf);
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px; 
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #aaa;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--third-brand-color);
  }

/* Page Wrap */
.page-wrap {
	background-color: var(--white);
	position: relative;
	z-index: 1;
	/*margin-top: 70px;*/
}

/* General */
body {
	/*font-family: 'Montserrat', sans-serif;*/
	font-family: Exo-Light;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Exo-SemiBold;
	/*font-weight: 700;*/
	color: var(--second-brand-color);
	/*text-transform: capitalize;*/
}

h2 {
	margin-bottom: 1.5rem;
}

b {
	font-family: Exo-Semibold;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

section {
	padding: 70px 0;
}

.cta-bottom-canvas {
	text-align: center;
	color: var(--second-brand-color);
}

.cta-bottom-canvas p {
	font-size: 1.2rem;
}

/*Hero image*/
.hero-image {
  /*background: #ffffff url("../images/hero-bg.jpg") no-repeat right top;*/
  /*height: 50%;*/
background: rgb(237,30,121);
background: radial-gradient(circle, rgba(237,30,121,1) 0%, rgba(102,45,145,1) 100%);
  min-height: 700px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 0 50px;
}

.hero-image.child {
	min-height: 400px;
}

/*.hero-image:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--first-brand-color);
	opacity: 0.5;
}*/

.hero-text {  
	color: white;
}

.hero-image .button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: white;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
  background-color: var(--third-brand-color);
}

.hero-image .button:hover {
	box-shadow: 0 0 0 3px var(--third-brand-color);
}


/* Main Header */
.main-header {
  /*position: -webkit-sticky;
  position: sticky;*/
  position: fixed;
  max-width: 1320px;
  border-radius: 20px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  /*height: 80px;*/
  padding: 20px 0;
  background-color: var(--white);
  z-index: 999;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  /*border-bottom: 2px solid var(--second-brand-color);*/
    /*box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);*/
}


.sticky-header {
	/*background-color: rgba(255, 255, 255, 0.90);*/
  /*box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);*/
  top: 0;
  max-width: 100%;
  border-radius: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.header-logo {
	width: 170px;
	height: auto;
}

/* Main Navigation */
.main-nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 15px;
}

.main-nav ul li a,
.main-nav ul li a:after,
.main-nav ul li a:before {
  transition: all .5s;
}

/* SHIFT */
.main-nav ul li a {
	text-transform: uppercase;
	color: var(--second-brand-color);
  position:relative;
  z-index: 1;
  padding: 10px;
}
.main-nav ul li a:hover {
  color: white;
}
.main-nav ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: var(--second-brand-color);
  visibility: none;
  opacity: 0;
  z-index: -1;
}

.main-nav ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.menu-toggle {
	display: none;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 20px;
}

.menu-toggle .bar1, .menu-toggle .bar2, .menu-toggle .bar3 {
  width: 30px;
  height: 3px;
  background-color: var(--second-brand-color);
  border-radius: 2px;
  margin: 5px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-toggle.active .bar1 {
  -webkit-transform: translate(0, 8px) rotate(-45deg);
          transform: translate(0, 8px) rotate(-45deg);
}

.menu-toggle.active .bar2 {opacity: 0;}

.menu-toggle.active .bar3 {
  -webkit-transform: translate(0, -8px) rotate(45deg);
          transform: translate(0, -8px) rotate(45deg);
}


/* Container */
.container {
	padding-left: 20px;
	padding-right: 20px;
}

/* Img Placeholder */
.img-placeholder {
	background-color: gray;
	/*width: 300px;
	height: 300px;*/
}

/* Colors */
.text-highlight {
	color: var(--second-brand-color);
}

/*Typography*/
.section-title {
	position: relative;
	padding-bottom: 10px;
	width: fit-content;
}

.section-title:before {
	background-color: var(--second-brand-color);
    content: '';
    display: block;
    height: 3px;
    width: 50%;
    margin-bottom: 10px;
}

.section-title:after {
    background-color: var(--second-brand-color);
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 50%;
    /*margin-bottom: 0.25em;*/
}

/* Background Colors */
.bg-grad {
	background-image: -webkit-gradient(linear, left top, left bottom, from(var(--first-brand-color)), to(var(--second-brand-color)));
	background-image: -webkit-linear-gradient(var(--first-brand-color), var(--second-brand-color));
	background-image: linear-gradient(var(--first-brand-color), var(--second-brand-color));
}

.primary-bg {
	background-color: var(--first-brand-color);
}

.secondary-bg {
	background-color: var(--second-brand-color);
}

/* Buttons */
.button {
	/*font-family: 'Montserrat', sans-serif;*/
	font-family: Exo-SemiBold;
	font-weight: 400;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-transform: uppercase;
	padding: 8px 16px;
	min-width: 170px;
	height: 45px;
	border-radius: 20px;
	letter-spacing: 0.5px;
	transition:  0.3s;
}

/*.button:hover {
	opacity: 0.9;
}*/

.button-primary {
	background-color: var(--second-brand-color);
	color: var(--white);
}

.button-primary:hover {
	color: var(--white);
	opacity: 0.9;
}

.button-bordered {
	color: var(--first-brand-color);
	border: 1px solid var(--first-brand-color);
}

.button-bordered:hover {
	color: white;
	background-color: var(--first-brand-color);
	/*box-shadow: 0 0 0 3px var(--first-brand-color);*/
}

.button-white {
	background: var(--white);
	color: var(--first-brand-color) !important;
}

.button-white:hover {
	opacity: 0.9;
}

.button-grad {
  background-image: -webkit-linear-gradient(left, var(--second-brand-color) 0%, var(--first-brand-color)  51%, var(--second-brand-color)  100%);
  background-image: linear-gradient(to right, var(--second-brand-color) 0%, var(--first-brand-color)  51%, var(--second-brand-color)  100%);
  -webkit-transition:  0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: var(--white);            
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.27);
}

.button-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
}

/* Section Alternate */
.section-alternate {
	/*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(102%2c 45%2c 145%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c413.324C76.691%2c408.917%2c148.635%2c371.397%2c205.468%2c319.715C257.288%2c272.591%2c278.301%2c203.883%2c302.567%2c138.178C325.121%2c77.109%2c350.758%2c15.339%2c341.689%2c-49.127C332.606%2c-113.691%2c296.516%2c-170.7%2c252.364%2c-218.675C209.126%2c-265.657%2c155.161%2c-301.833%2c93.584%2c-318.718C32.687%2c-335.417%2c-32.102%2c-333.282%2c-91.929%2c-313.083C-150.311%2c-293.371%2c-201.175%2c-255.684%2c-238.446%2c-206.614C-274.276%2c-159.442%2c-282.69%2c-100.156%2c-297.268%2c-42.741C-313.646%2c21.766%2c-341.893%2c84.972%2c-329.061%2c150.277C-314.503%2c224.362%2c-280.202%2c297.093%2c-221.227%2c344.237C-159.636%2c393.472%2c-78.722%2c417.848%2c0%2c413.324' fill='%23522474'%3e%3c/path%3e%3cpath d='M1440 996.9580000000001C1527.431 1001.9839999999999 1624.602 1008.6469999999999 1694 955.231 1762.487 902.517 1775.391 806.5740000000001 1796.298 722.716 1814.034 651.579 1806.261 580.74 1805.644 507.428 1804.92 421.321 1836.35 328.704 1792.3600000000001 254.678 1746.718 177.87099999999998 1659.369 127.75599999999997 1571.252 112.995 1486.7 98.83100000000002 1406.06 142.51999999999998 1327.483 176.803 1257.612 207.28699999999998 1196.712 248.914 1140.844 300.78 1078.857 358.327 992.648 410.35400000000004 985.1600000000001 494.604 977.658 579.001 1065.901 637.773 1104.172 713.3679999999999 1140.425 784.976 1142.778 875.284 1204.1 927.068 1268.055 981.0740000000001 1356.431 992.154 1440 996.9580000000001' fill='%237a36ae'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");*/
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1057%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1058)'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsSymbol1065' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1065' x='720' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1057'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1058'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(102%2c 45%2c 145%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1061'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1059'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1062'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1060'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1063'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1064'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1065'%3e%3cuse xlink:href='%23SvgjsPath1059' x='30' y='30' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1060' x='30' y='90' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1060' x='30' y='150' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1060' x='30' y='210' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1061' x='30' y='270' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='30' y='330' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1060' x='30' y='390' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1061' x='30' y='450' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1063' x='30' y='510' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='30' y='570' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1060' x='90' y='30' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='90' y='90' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1063' x='90' y='150' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='90' y='210' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1060' x='90' y='270' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='90' y='330' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1064' x='90' y='390' stroke='rgba(237%2c 30%2c 121%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1063' x='90' y='450' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='90' y='510' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='90' y='570' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1063' x='150' y='30' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='150' y='90' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1061' x='150' y='150' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='150' y='210' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1063' x='150' y='270' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='150' y='330' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='150' y='390' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1060' x='150' y='450' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1061' x='150' y='510' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1060' x='150' y='570' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1059' x='210' y='30' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1063' x='210' y='90' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1061' x='210' y='150' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1063' x='210' y='210' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1059' x='210' y='270' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1063' x='210' y='330' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1061' x='210' y='390' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1060' x='210' y='450' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1061' x='210' y='510' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='210' y='570' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1063' x='270' y='30' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1063' x='270' y='90' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1059' x='270' y='150' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1063' x='270' y='210' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1060' x='270' y='270' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='270' y='330' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1061' x='270' y='390' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1059' x='270' y='450' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1061' x='270' y='510' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1063' x='270' y='570' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1059' x='330' y='30' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1063' x='330' y='90' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='330' y='150' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='330' y='210' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1061' x='330' y='270' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1060' x='330' y='330' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1063' x='330' y='390' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1061' x='330' y='450' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1061' x='330' y='510' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1063' x='330' y='570' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1064' x='390' y='30' stroke='rgba(237%2c 30%2c 121%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='390' y='90' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1060' x='390' y='150' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='390' y='210' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1060' x='390' y='270' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='390' y='330' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1063' x='390' y='390' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='390' y='450' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1063' x='390' y='510' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1063' x='390' y='570' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1063' x='450' y='30' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1063' x='450' y='90' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1059' x='450' y='150' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1063' x='450' y='210' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1060' x='450' y='270' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1064' x='450' y='330' stroke='rgba(237%2c 30%2c 121%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1060' x='450' y='390' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1060' x='450' y='450' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1063' x='450' y='510' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1060' x='450' y='570' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='510' y='30' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='510' y='90' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='510' y='150' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1063' x='510' y='210' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='510' y='270' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='510' y='330' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='510' y='390' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1059' x='510' y='450' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1063' x='510' y='510' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='510' y='570' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1060' x='570' y='30' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1060' x='570' y='90' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='570' y='150' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='570' y='210' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='570' y='270' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1060' x='570' y='330' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='570' y='390' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1063' x='570' y='450' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='570' y='510' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='570' y='570' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1060' x='630' y='30' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1063' x='630' y='90' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1063' x='630' y='150' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='630' y='210' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1063' x='630' y='270' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1061' x='630' y='330' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1060' x='630' y='390' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1063' x='630' y='450' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1063' x='630' y='510' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1060' x='630' y='570' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1060' x='690' y='30' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1063' x='690' y='90' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1063' x='690' y='150' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='690' y='210' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1061' x='690' y='270' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1062' x='690' y='330' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1060' x='690' y='390' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1063' x='690' y='450' stroke='rgba(237%2c 30%2c 121%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1064' x='690' y='510' stroke='rgba(237%2c 30%2c 121%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1064' x='690' y='570' stroke='rgba(237%2c 30%2c 121%2c 1)' stroke-width='3'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
	background-repeat: no-repeat;
	/*background-size: 100% 100%;*/
	background-size: cover;
}

.section-alternate * {
	color: var(--white);
}

/* List Styled */
.list-styled {
	margin: 0 0 20px;
}

.list-styled > li {
	position: relative;
	padding-left: 40px;
	margin-bottom: 10px;
}

.list-styled > li:before {
  background: #ffffff url("../images/check-icon.png") no-repeat right top;
  background-size: cover;
	content: '';
	position: absolute;
	top: 4px;
	left: 0;
  width: 20px; 
  height: 20px; 
}

/* Home */

.home-page .sec3  .shadow {
	min-height: 100%;
	/*border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;*/
	border-radius: 30px;
	position: relative;
}

.home-page .sec3  .shadow h3 {
	/*min-height: 70px;*/
}

.home-page .sec3 .col-md-4:nth-of-type(1) .shadow {
	background-color: var(--first-brand-color);
}

.home-page .sec3 .col-md-4:nth-of-type(2) .shadow {
	background-color: var(--second-brand-color);
}

.home-page .sec3 .col-md-4:nth-of-type(3) .shadow {
	background-color: var(--third-brand-color);
}

.home-page .sec3 .shadow a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.home-services-arrow {
	border:  2px solid white;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 30px;
	right: 30px;
	border-radius: 100%;
	overflow: hidden;
}

.home-page .sec3 .shadow a:hover + .home-services-arrow img {
	animation: mymove 0.5s;
}

@keyframes mymove {
	0% {transform: translateX(0px);}
  30% {transform: translateX(50px);}
	50% {opacity: 0;}
  60% {transform: translateX(-50px);}
  100% {transform: translateX(0px);}
}

.home-services-arrow img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: invert(1);
	transition: 0.3s;
}

/* About */
.about-who h2 {
	border-top: 2px solid var(--second-brand-color);
	padding-top: 20px;
}

.about-who img {
	margin-bottom: 25%;
}

/* Services */

/* Contact */
.contact-form {
	position: relative;
	z-index: 1;
	background: var(--white);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
	margin-top: -100px;
}


/* Main Footer */
.main-footer {
	background-color: var(--third-brand-color);
	max-width: 1320px;
	padding: 40px 0;
	position: fixed;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 10px;
	width: 100%;
	overflow: hidden;
	text-align: center;
}

.footer-logo {
	width: 150px;
	height: auto;
	margin-bottom: 1rem;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.main-footer ul a:hover {
	opacity: 0.8;
}

.footer-copyright {
	color: var(--white);
	font-size: 14px;
}

/*.footer-copyright:before {
	content: '';
	display: block;
	background-color: white;
	width: 100%;
	height: 1px;
	margin: 1rem 0;
}*/

button:disabled {
  opacity: 0.63 !important;
  color: #000 !important;
  cursor: not-allowed;
}

button:disabled:hover {
	background-position: left;
}

/*#captcha {
	max-width: 280px;
	width: 100% !important;
}*/

@media (max-width: 991px) {

}

@media (max-width: 767px) {
	.menu-toggle {
		display: block;
	}

	.main-nav {
		display: none;
		/*width: 100%;*/
	}

	.main-nav-open {
		display: block;
	}

	.main-nav ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		margin-top: 30px;
	}

	.main-nav li a {
		display: block;
		width: 100%;
	}

	section {
		padding: 50px 0;
	}
}

@media (max-width: 575px) {}