button:focus {
	outline: none;
}

.form-control {
	border-color: #d5d5d5;	
}

.form-control:focus {
	box-shadow: none;
	/*border-color: #2a3246;*/
	border-color: #1434cb;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a:hover {
	color: #1434cb;
}

.flocash-logo {
	display: flex;
	justify-content: flex-end;
	margin-top: 30px;
}

.flocash-logo img {
	width: 100px;
	height: auto;
}

/*Custom Checkbox*/
/* The container */
.radio-container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio-container .checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
/*.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}*/

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
 	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #4a4a4a;
}


/*Custom Checkbox*/
/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox-container .checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border: 1px solid #1434cb;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
/*.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}*/

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 6px;
  height: 12px;
  border: solid #1434cb;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/*Card input*/
.card-input-wrapper {
	background-color: #e8e8e8;
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-y: auto;
	padding: 50px 0;
}

.card-input {
	background-color: #fff;
	border-top: 2px solid #c3c3c3;
	border-bottom: 2px solid #c3c3c3;
	max-width: 500px;
	width: 100%;
	padding: 50px 30px;
	margin: 0 auto;
}

.card-input-title {
	font-weight: 700;
	font-size: 20px;
	color: #1f262e;
}

.card-input-cancel {
	font-weight: 700;
	color: #000;
}

.card-input-btn {
	background-color: #2a3246;
	border-radius: 0;
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	border:  none;
	font-weight: 700;
	cursor: pointer;
	margin: 40px 0 0;
	transition: 0.3s;
}

.card-input-btn:focus,
.card-input-btn:hover {
	background-color: #39435e;
}

/*Plan screen*/
.plan-visa-label {
	color: #9b9b9b;
}

.plan-visa-label span {
	font-weight: 600;
	color: #000;
}

.plan-item {
	background-color: #fff;
	min-height: 80px;
	padding: 20px;
	border: 2px solid #cccccc;
	border-radius: 5px;
	position: relative;
	color: #333;
	margin-bottom: 30px;
	transition: 0.3s;
	overflow: hidden;
}

.plan-item.active .plan-item-content {
	display: block;
}

.plan-item-content {
	display: none;
	margin: 1rem 0;
}

.plan-item:hover {
	border-color: #1434cb;
}

.plan-item.full-amount {
	background-color: #e4eeff;
	border-color: #1434cb;
}

.plan-item.full-amount .plan-item-duration {
	background-color: #1434cb;
}

.plan-item.full-amount .plan-item-price {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 20px;
	color: #111;
}

.plan-item-price {
	font-size: 24px;
	font-weight: 700;
}

.plan-item-price span {
	font-size: 20px;
}

.plan-item-duration {
	background-color: #aeaeae;
	position: absolute;
	top: 0;
	right: 0;
	border-bottom-left-radius: 5px;
	color: #fff;
	font-size: 14px;
	width: 120px;
	text-align: center;
	padding: 5px 10px;
}

.plan-or {
	position: relative;
	text-align: center;
}


.plan-or:after {
	content: '';
	position: absolute;
	top: 12px;
	left: 0;
	width: 100%;
	border-top: 1px dashed #ccc;
}

.plan-total-fees {
	display: flex;
}

.plan-total-fees li {
	font-size: 22px;
	font-weight: 600;
}

.plan-total-fees li:not(:last-child):after {
	content: '|';
	color: #767676;
	margin: 0 10px;
}


.plan-visa-text span {
	font-size: 18px;
	color: #1939cc;
	margin-left: 4px;
	vertical-align: middle;
}

.plan-learn-more {
	color: #777;
	text-decoration: underline;
}

.plan-learn-more:hover {
	text-decoration: none;
}

.plan-item-desc {
	color: #777;
}

/*Confirmation*/
.confirmation-wrapper {
	color: #000;
}

.confirmation-list li {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 5px 0;
}

.confirmation-list.bordered li {
	font-weight: 700;
	border-bottom: 1px solid #d8d8d8;
	padding: 10px 0;
}

.confirmation-list.bordered li:not(:last-child) {
		border-top: 1px solid #d8d8d8;
}

.confirmation-dot {
	position: relative;
	top: -4px;
}

.confirmation-info p {
	font-size: 14px;
	margin: 20px 0;
}

.confirmation-info p:last-child {
	color: #333;
}

@media (max-width: 575px) {
	.plan-total-fees {
		display: block;
	}

	.plan-total-fees li:not(:last-child):after {
		display: block;
		content: '';
		width: 100%;
		height: 1px;
		background-color: #767676;
		margin: 10px 0;
	}

} 