:root {
	--second-brand-color:  #443B3D;
	--first-brand-color:  #EA3F78;
	--white:  #fff;
	--black:  #000;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px; 
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #eee;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--first-brand-color);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    /*background: var(--second-brand-color);*/
  }

/* General */
body {
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	/*font-family: 'Oswald', sans-serif;*/
	font-weight: 700;
	color: var(--first-brand-color);
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

section {
	padding: 70px 0;
}

/* Main Header */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: var(--white);
  z-index: 999;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
  /*border-bottom: 2px solid var(--second-brand-color);*/
    -webkit-box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
            box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

.header-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 15px;
}

.sticky-header {
	/*background-color: rgba(255, 255, 255, 0.90);*/
    -webkit-box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
            box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

.header-logo {
	max-width: 150px;
	width: 100%;
	height: auto;
}

.header-logo img {
	max-width: 100%;
	height: auto;
}

/* Main Navigation */
.main-nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 30px;
	list-style-type: none;
}

.main-nav li {
  padding: var(--padding);
}

.main-nav li a {
  color: var(--first-brand-color);
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding: 5px;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/*.main-nav li a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	display: inline-block;
	width: 0;
	height: 2px;
	background-color: var(--first-brand-color);
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	margin: 0;
}*/

.main-nav li a:focus,
.main-nav li a:hover {
	background-color: var(--first-brand-color);
	color: var(--white);
}

/*.main-nav li a:hover::after {
  width: 100%;
}*/

.menu-toggle {
	display: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.menu-toggle .bar1, .menu-toggle .bar2, .menu-toggle .bar3 {
  width: 30px;
  height: 3px;
  background-color: var(--first-brand-color);
  border-radius: 2px;
  margin: 5px 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.menu-toggle.active .bar1 {
  -webkit-transform: translate(0, 8px) rotate(-45deg);
      -ms-transform: translate(0, 8px) rotate(-45deg);
          transform: translate(0, 8px) rotate(-45deg);
}

.menu-toggle.active .bar2 {opacity: 0;}

.menu-toggle.active .bar3 {
  -webkit-transform: translate(0, -8px) rotate(45deg);
      -ms-transform: translate(0, -8px) rotate(45deg);
          transform: translate(0, -8px) rotate(45deg);
}


/* Page Wrap */
.page-wrap {
	background-color: var(--white);
	position: relative;
	z-index: 1;
	margin-top: 70px;
}

/* Container */
.container {
	padding-left: 20px;
	padding-right: 20px;
}

/* Img Placeholder */
.img-placeholder {
	background-color: gray;
	/*width: 300px;
	height: 300px;*/
}

/* Colors */
.primary-color {
	color: var(--first-brand-color);
}

/* Background Colors */
.bg-grad {
	background-image: -o-linear-gradient(var(--first-brand-color), var(--second-brand-color));
	background-image: -webkit-gradient(linear, left top, left bottom, from(var(--first-brand-color)), to(var(--second-brand-color)));
	background-image: linear-gradient(var(--first-brand-color), var(--second-brand-color));
}

.primary-bg {
	background-color: var(--first-brand-color);
}

.secondary-bg {
	background-color: var(--second-brand-color);
}

/* Buttons */
.button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-transform: uppercase;
	padding: 8px 16px;
	min-width: 170px;
	height: 45px;
	border-radius: 3px;
	letter-spacing: 0.5px;
}

/*.button:hover {
	opacity: 0.9;
}*/

.button-primary {
	background-color: var(--first-brand-color);
	color: var(--white);
}

.button-primary:hover {
	opacity: 0.9;
}

.button-bordered {
	color: var(--first-brand-color);
	border: 1px solid var(--first-brand-color);
}

.button-white {
	background: var(--white);
	color: var(--first-brand-color) !important;
}

.button-white:hover {
	opacity: 0.9;
}

.button-grad {
  background-image: -o-linear-gradient(left, var(--first-brand-color) 0%, var(--second-brand-color)  51%, var(--first-brand-color)  100%);
  background-image: -webkit-gradient(linear, left top, right top, from(var(--first-brand-color)), color-stop(51%, var(--second-brand-color)), to(var(--first-brand-color)));
  background-image: linear-gradient(to right, var(--first-brand-color) 0%, var(--second-brand-color)  51%, var(--first-brand-color)  100%);
  -webkit-transition:  0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: var(--white);            
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.27);            
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.27);
}

.button-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
}

/*.button-hero {
  color: var(--white) !important;
  display: inline-block;
  letter-spacing: .2rem;
}

.button-hero span {
	display: inline-block;
	transition: 0.3s;
}

.button-hero:hover span {
	transform: translateX(5px);
}*/

/* Intro */
.intro {
	text-align: center;
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
}

.intro p {
	font-size: 22px;
	/*letter-spacing: 0.4px;*/
	color: var(--first-brand-color);
	margin-bottom: 30px;
}

/* Section Alternate */
.section-alternate {
	background: var(--first-brand-color);
}

.section-alternate p {
	color: var(--white);
}

.section-alternate.invert {
	background: var(--second-brand-color);
}

/*.section-alternate .button {
	background-color: #fff;
	color: var(--first-brand-color) !important;
}*/

/* List Styled */
.list-styled {
	margin: 0 0 20px;
}

.list-styled > li {
	position: relative;
	padding-left: 15px;
	margin-bottom: 5px;
}

.list-styled > li:before {
	content: '';
	position: absolute;
	top: 6px;
	left: 0;
	width: 8px;
	height: 8px;
	background-color: var(--white);
	border-radius: 50%;
	border: 2px solid var(--first-brand-color);
 	/*background: url("../images/checkbox.png") left top / cover no-repeat;*/
}


/* Hero Section */
.hero-section {
	padding: 0;
	height: 500px;
	position: relative;
	text-align: center;
	/*background-image: linear-gradient(var(--first-brand-color), var(--second-brand-color));*/
}

.hero-inner {
	position: absolute;
	z-index: 2;
	top: 150px;
	left: 0;
	width: 100%;
	height: calc(100% - 150px);
}

.hero-section h1 {
	font-size: 60px;
	color: var(--white);
	/*border-bottom: 1px solid var(--white);
	padding-bottom: 30px;*/
	text-transform: uppercase;
}

.hero-section .button-hero {
	text-align: center;
	font-size: 24px;
	position: absolute;
	bottom: 50px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	color: var(--white);
	z-index: 2;
}

@-webkit-keyframes up-down {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

.hero-section .button-hero img {
	display: inline-block;
	font-size: 40px;
	animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.hero-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	background-color: var(--first-brand-color);
	opacity: 0.63;
}

.hero-img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.hero-img img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}

.hero-section.child {
	background-color: var(--second-brand-color);
	height: 300px;
}

.hero-section.child h1 {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	margin: 0 auto;
}

/*.hero-section.child h1:after {
	content: '';
	background-color: var(--first-brand-color);
	width: 40%;
	height: 3px;
	display: block;
	margin: 15px auto;
}*/

.hero-section.child .hero-inner {
	top: 100px;
}

.hero-section.child h1 {
	padding-bottom: 0;
	border-bottom: none;
}


/* Home */
.services-inner {
	border:  1px solid var(--first-brand-color);
}

.home-services-wrap ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.home-services-wrap ul li {
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	padding: 30px 30px 60px 30px;
	position: relative;
	text-align: center;
}

.home-services-wrap ul li:hover {
	background-color: var(--first-brand-color);
	color: var(--white);
}

.home-services-wrap ul li:hover img {
	-webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);	
}

.home-services-wrap ul li:hover a {
	bottom: 30px;
}

.home-services-wrap li img {
	width: 80px;
	height: 80px;
	-webkit-filter: invert(41%) sepia(79%) saturate(4733%) hue-rotate(320deg) brightness(99%) contrast(85%);
	        filter: invert(41%) sepia(79%) saturate(4733%) hue-rotate(320deg) brightness(99%) contrast(85%);
}

.home-services-wrap li:hover h3 {
	color: var(--white);
}

.home-services-wrap li h3 {
	margin: 20px 0;
}

.home-services-wrap li a {
	color: var(--white);
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.home-services-wrap li a:hover {
	opacity: 0.8;
}

.home-services-wrap li a span {
		font-size: 22px;
}

.quote-canvas {
	background-color: var(--first-brand-color);
}

.quote-inner {
	position: relative;
}

.quote-inner img {
	position: absolute;
	top: -50px;
	left: 5%;
	opacity: 0.2;
}

.quote-desc {
	position: relative;
	z-index: 1;
}

.quote-desc p {
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
}

/* About */
.about-why-choose {
	background-color: var(--first-brand-color);
	color: var(--white);
}

.about-why-choose ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	/*justify-content: space-between;*/
	gap: 30px;
}

.about-why-choose ul li {
	border-top: 1px solid var(--white);
	position: relative;
	padding: 12px 20px 20px 50px;
	width: calc(calc(100% - 60px) / 3);
	text-transform: uppercase;
	font-size: 17.5px;
	font-weight: 600;
}

.about-why-choose ul li:before {
	content: '';
	background-image: url('../images/check-icon.png');
	background-size: cover;
	width: 35px;
	height: 35px;
	position: absolute;
	top: 20px;
	left: 0;
}





/* Services */
.hor-line {
	background-color: var(--white);
	width: 100%;
	height: 2px;
	margin: 10px 0;
}

.services-wrap .nav-pills .nav-link {
	font-size: 20px;
	font-weight: 700;
	max-width: 300px;
	/*width: 100%;*/
	text-transform: uppercase;
	opacity: 0.4;
	border-bottom: 3px solid transparent;
	border-radius: 0;
}

.services-wrap .nav-pills .nav-link.active:after {
	content: '';
	position: absolute;
	bottom: -15px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid var(--first-brand-color);
}

.services-wrap .nav-pills .nav-link.active {
	opacity: 1;
	border-color: var(--first-brand-color);
}

.services-wrap .nav-pills .nav-link img {
	margin-bottom: 5px;
}

.services-wrap .nav-pills .nav-link,
.services-wrap .nav-pills .nav-link.active {
	background-color: transparent;
	color: var(--first-brand-color);
	-webkit-filter: invert(41%) sepia(79%) saturate(4733%) hue-rotate(320deg) brightness(99%) contrast(85%);
	        filter: invert(41%) sepia(79%) saturate(4733%) hue-rotate(320deg) brightness(99%) contrast(85%);
}

.services-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	/*background-color: var(--first-brand-color);*/
	background-image: -o-linear-gradient(var(--first-brand-color), var(--second-brand-color));
	background-image: -webkit-gradient(linear, left top, left bottom, from(var(--first-brand-color)), to(var(--second-brand-color)));
	background-image: linear-gradient(var(--first-brand-color), var(--second-brand-color));
	padding: 15px 30px;
}

.services-header img {
	-webkit-filter: brightness(0) invert(1);
	        filter: brightness(0) invert(1);
}

.services-header h2 {
	color: var(--white);
	margin-left: 20px;
}


.services-content {
	padding: 30px;
}


/* Contact */
.contact-canvas {
	/*background-color: var(--first-brand-color);
	color: var(--white);*/
	text-align: center;
}

.contact-canvas p {
	max-width: 1000px;
	margin: 0 auto;
}

.contact-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 20px;
}

.contact-header img {
	width: 50px;
	height: 50px;
	margin-right: 10px;
	-webkit-filter: invert(41%) sepia(79%) saturate(4733%) hue-rotate(320deg) brightness(99%) contrast(85%);
	        filter: invert(41%) sepia(79%) saturate(4733%) hue-rotate(320deg) brightness(99%) contrast(85%);
}

.contact-header h2 {
	margin: 0;
}

.contact-canvas p a {
	display: inline-block;
	background-color: var(--second-brand-color);
	color: var(--white);
	padding: 5px 10px;
	border-radius: 20px;
	margin-right: 8px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.contact-canvas p a:hover {
	padding: 5px 15px;
}

.contact-form {
	position: relative;
	z-index: 1;
	margin-top: -150px;
	background: var(--white);
}

/* Main Footer */
.main-footer {
	background-color: var(--second-brand-color);
	padding: 50px 0 20px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: auto;
	overflow: hidden;
	text-align: center;
}

.footer-logo {
	width: 150px;
	height: auto;
	-webkit-filter: brightness(0) invert(1);
	        filter: brightness(0) invert(1);
}

.main-footer ul a:hover {
	opacity: 0.8;
}

.footer-copyright {
	color: var(--white);
	font-size: 14px;
	margin-top: 30px;
}

button:disabled {
  opacity: 0.63 !important;
  color: #000 !important;
  cursor: not-allowed;
}

button:disabled:hover {
	background-position: left;
}

/*#captcha {
	max-width: 280px;
	width: 100% !important;
}*/

@media (max-width: 991px) {
	.about-why-choose ul li {
		width: calc(calc(100% - 60px) / 2);
	}
}

@media (max-width: 767px) {
	.main-header.open-menu {
		height: 350px;
	}

	.menu-toggle {
		display: block;
	}

	.header-inner {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}

	.main-nav {
		width: 100%;
	}

	.main-nav ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		padding-top: 40px;
		gap: 30px;
	}

	.main-nav li a {
		display: block;
		width: 100%;
	}

	.main-footer ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.main-footer ul a {
		display: block;
		width: 100%;
	}

	section {
		padding: 50px 0;
	}

	.hero-section {
		height: 450px;
	}

	.hero-section h1 {
		font-size: 45px;
	}

	.hero-section .button-hero {
		bottom: 30px;
	}

	.hero-inner {
		top: 90px;
	}

	.home-services-wrap ul  {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.home-services-wrap li a {
		opacity: 1;
		color: var(--white);
		background-color: var(--first-brand-color);
		bottom: 30px;
		padding: 4px 12px;
		border-radius: 3px;
	}

	.home-services-wrap ul li {
		padding-bottom: 70px;
	}

	.about-why-choose ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.about-why-choose ul li {
		width: 100%;
	}

	.services-wrap .nav-pills .nav-link img {
		width: 70px;
	}

	.services-wrap .nav-pills .nav-link {
		margin-bottom: 15px;
	}

	.contact-header {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
}

@media (max-width: 575px) {
}