:root {
	/*
	f5ca66
	cea74c
	e3b953
	e3beff
	b797fe
	*/

	--first-brand-color:  #f5ca66;
	--second-brand-color:  #cea74c;
	--third-brand-color:  #e3b953;
	--fourth-brand-color:  #e3beff;
	--fifth-brand-color:  #b797fe;
	--white:  #fff;
	--black:  #000;
}

@font-face {
    font-family: 'Geologica Roman';
    src: url('../fonts/GeologicaRoman-Medium.woff2') format('woff2'),
        url('../fonts/GeologicaRoman-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px; 
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #aaa;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    /*background: var(--third-brand-color);*/
  }

/* Page Wrap */
.page-wrap {
	background-color: var(--white);
	position: relative;
	z-index: 1;
	/*margin-top: 70px;*/
	overflow-x: hidden;
}

/* General */
body {
	font-family: 'Montserrat', sans-serif;
	/*font-family: 'Open Sans', sans-serif;*/
	line-height: 1.5;
	color: var(--black);
	/*zoom:  0.8;*/
}

h1, h2, h3, h4, h5, h6 {
	 font-family: 'Geologica Roman', sans-serif;
	/*font-weight: 700;*/
	/*color: var(--fifth-brand-color);*/
	/*text-transform: capitalize;*/
}

h2 {
	margin-bottom: 1.5rem;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

section {
	padding: 70px 0;
}

.cta-bottom-canvas {
	background-color: #a0a0a0;
	/*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(245%2c 202%2c 102%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c394.087C74.69%2c403.758%2c156.278%2c380.41%2c211.711%2c329.428C264.854%2c280.552%2c263.976%2c199.416%2c286.319%2c130.758C305.823%2c70.824%2c345.327%2c14%2c334.567%2c-48.103C323.896%2c-109.692%2c271.466%2c-152.549%2c229.248%2c-198.644C188.176%2c-243.488%2c150.8%2c-297.853%2c91.916%2c-313.038C33.562%2c-328.087%2c-25.541%2c-300.252%2c-81.887%2c-278.881C-134.436%2c-258.95%2c-177.624%2c-226.24%2c-223.294%2c-193.485C-283.422%2c-150.36%2c-366.701%2c-125.869%2c-392.119%2c-56.378C-417.958%2c14.264%2c-393.374%2c97.737%2c-353.04%2c161.228C-314.749%2c221.503%2c-238.793%2c239.497%2c-179.183%2c278.815C-118.672%2c318.727%2c-71.888%2c384.779%2c0%2c394.087' fill='%23f1b325'%3e%3c/path%3e%3cpath d='M1440 1219.7C1561.974 1247.3429999999998 1686.767 1174.969 1788.167 1101.759 1886.325 1030.8899999999999 1947.8609999999999 925.015 1999.696 815.605 2052.1620000000003 704.863 2103.093 588.416 2089.044 466.682 2074.814 343.378 1997.502 240.863 1921.999 142.346 1842.26 38.301000000000045 1769.084-99.34400000000005 1639.597-119.76499999999999 1509.481-140.28499999999997 1404.101-19.875999999999976 1288.007 42.360000000000014 1196.783 91.26299999999998 1101.184 129.49200000000002 1031.638 206.152 960.982 284.036 925.363 381.861 890.128 480.94 846.738 602.949 735.529 740.263 802.219 851.265 871.358 966.342 1064.112 896.856 1180.358 964.01 1287.711 1026.026 1319.087 1192.297 1440 1219.7' fill='%23f9e1a7'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");*/
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
	text-align: center;
	color: var(--white);
}

.cta-bottom-canvas p {
	/*max-width: 800px;*/
	margin-bottom: 0;
}

.cta-bottom-canvas .button-primary {
	background-color: var(--fourth-brand-color);
	    box-shadow: 0 10px var(--fifth-brand-color);
}

.cta-bottom-canvas .button-primary:hover, 
.cta-bottom-canvas .button-primary:active {
    box-shadow: 0 5px var(--fifth-brand-color);
    transform: translateY(4px);
}


/*Hero section*/
.hero-section {
	/*background-image: linear-gradient(var(--fourth-brand-color), var(--fifth-brand-color));*/
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1266%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(183%2c 151%2c 254%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c758.947C140.181%2c759.112%2c214.767%2c592.286%2c324.916%2c505.58C422.36%2c428.875%2c543.344%2c383.123%2c610.159%2c278.65C682.593%2c165.391%2c722.76%2c31.505%2c713.901%2c-102.644C704.658%2c-242.605%2c673.976%2c-403.634%2c559.726%2c-485.006C445.599%2c-566.291%2c282.225%2c-463.893%2c148.402%2c-505.409C11.105%2c-548.003%2c-69.028%2c-724.284%2c-212.78%2c-724.662C-359.569%2c-725.048%2c-499.721%2c-626.458%2c-585.503%2c-507.342C-668.883%2c-391.562%2c-650.21%2c-237.55%2c-665.719%2c-95.716C-680.657%2c40.895%2c-742.569%2c188.633%2c-674.668%2c308.111C-607.141%2c426.931%2c-438.058%2c428.884%2c-324.426%2c504.817C-207.849%2c582.718%2c-140.21%2c758.782%2c0%2c758.947' fill='%238d5bfd'%3e%3c/path%3e%3cpath d='M1920 1700.371C2037.365 1700.091 2148.4139999999998 1652.454 2245.77 1586.907 2341.67 1522.34 2422.738 1436.67 2469.0209999999997 1330.729 2514.853 1225.82 2521.702 1109.14 2503.902 996.048 2486.267 884.006 2425.983 789.174 2368.4030000000002 691.456 2298.313 572.5070000000001 2260.793 408.682 2130.647 362.602 2000.982 316.692 1871.997 428.337 1740.651 469.192 1611.826 509.26300000000003 1456.225 499.639 1366.414 600.315 1276.424 701.191 1305.357 855.304 1278.0929999999998 987.708 1248.702 1130.441 1132.232 1279.796 1199.9270000000001 1408.846 1268.262 1539.116 1456.875 1533.261 1593.229 1588.465 1702.155 1632.5639999999999 1802.486 1700.652 1920 1700.371' fill='%23e1d3ff'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1266'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-size: 100% 100%;
  min-height: 700px;
  position: relative;
  display: flex;
  align-items: center;
  	color: var(--white);
}

.hero-section h1 {
	color: white;
}

.img-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.hero-section.child {
	min-height: 400px;
}

.hero-section h1 {
	max-width: 800px;

}

.button-primary {
	color: var(--white);
	min-width: 200px;
  background-color: var(--first-brand-color);
  box-shadow: 0 9px var(--second-brand-color);
  transition: 0.3s;
}

.button-primary:hover {
		color: var(--white);
  /*box-shadow: 5px 5px var(--fifth-brand-color);*/
}

.button-primary:hover,
.button-primary:active {
  box-shadow: 0 5px var(--second-brand-color);
  transform: translateY(4px);
}


/* Main Header */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  /*height: 80px;*/
  padding: 20px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}


.sticky-header {
	background-color: var(--white);
  top: 0;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

@media (min-width: 992px) {
	.sticky-header {
		padding: 10px 0;
	}
}


.header-logo {
	width: 170px;
	height: auto;
}

/* Main Navigation */
.main-nav {}

.main-nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 10px;
}


/* SHIFT */
.main-nav li a {
	display: inline-block;
	color: var(--black);
  padding: 12px 24px;
  text-transform: uppercase;
  position: relative;
}

.main-nav li a:hover:after {
	width: 100%;
}

.main-nav li a:after {
	content: '';
	width: 0;
	height: 2px;
	background-color: var(--first-brand-color);
	margin-top: 5px;
	display: block;
	transition: 0.3s;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.main-nav-black li a {
	color: #000;
}

.menu-toggle {
	display: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 20px;
  -webkit-transition:  0.3s;
  transition: 0.3s;
  border: 1px solid var(--first-brand-color);
  border-radius: 3px;
  padding: 5px;
}

.menu-toggle .bar1, .menu-toggle .bar2, .menu-toggle .bar3 {
  width: 25px;
  height: 2px;
  background-color: var(--first-brand-color);
  border-radius: 1px;
  margin: 4px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-toggle.active .bar1 {
  -webkit-transform: translate(0, 6px) rotate(-45deg);
          transform: translate(0, 6px) rotate(-45deg);
}

.menu-toggle.active .bar2 {opacity: 0;}

.menu-toggle.active .bar3 {
  -webkit-transform: translate(0, -6px) rotate(45deg);
          transform: translate(0, -6px) rotate(45deg);
}


/* Container */
.container {
	padding-left: 20px;
	padding-right: 20px;
}

/* Img Placeholder */
.img-placeholder {
	background-color: gray;
	/*width: 300px;
	height: 300px;*/
}

/* Colors */
.text-highlight {
	color: var(--first-brand-color);
}

/*Typography*/
.section-title {
	position: relative;
	padding-bottom: 10px;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.section-title:before {
	background-color: var(--second-brand-color);
    content: '';
    display: block;
    height: 3px;
    width: 50%;
    margin-bottom: 10px;
}

.section-title:after {
    background-color: var(--second-brand-color);
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 50%;
    /*margin-bottom: 0.25em;*/
}

/* Background Colors */
.bg-grad {
	background-image: -webkit-gradient(linear, left top, left bottom, from(var(--first-brand-color)), to(var(--second-brand-color)));
	background-image: -webkit-linear-gradient(var(--first-brand-color), var(--second-brand-color));
	background-image: linear-gradient(var(--first-brand-color), var(--second-brand-color));
}

.primary-bg {
	background-color: var(--first-brand-color);
}

.secondary-bg {
	background-color: var(--second-brand-color);
}

/* Buttons */
.button {
	font-family: 'Montserrat', sans-serif;
	/*font-family: 'Open Sans', sans-serif;*/
	font-weight: 700;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-transform: uppercase;
	padding: 10px 20px;
	min-width: 170px;
	height: 50px;
	border-radius: 10px;
	letter-spacing: 0.5px;
	-webkit-transition:  0.3s;
	transition:  0.3s;
}

/*.button:hover {
	opacity: 0.9;
}*/


.button-bordered {
	color: var(--first-brand-color);
	border: 1px solid var(--first-brand-color);
}

.button-bordered:hover {
	color: white;
	background-color: var(--first-brand-color);
	/*box-shadow: 0 0 0 3px var(--first-brand-color);*/
}

.button-white {
	background: var(--white);
	color: var(--first-brand-color) !important;
}

.button-white:hover {
	opacity: 0.9;
}

.button-grad {
  background-image: -webkit-linear-gradient(left, var(--second-brand-color) 0%, var(--first-brand-color)  51%, var(--second-brand-color)  100%);
  background-image: linear-gradient(to right, var(--second-brand-color) 0%, var(--first-brand-color)  51%, var(--second-brand-color)  100%);
  -webkit-transition:  0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: var(--white);            
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.27);
}

.button-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
}

/* Section Alternate */
.section-alternate {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='250' preserveAspectRatio='none' viewBox='0 0 1440 250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3crect width='1440' height='250' x='0' y='0' fill='rgba(236%2c 28%2c 101%2c 1)'%3e%3c/rect%3e%3cpath d='M47 250L297 0L573 0L323 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1007%26quot%3b)'%3e%3c/path%3e%3cpath d='M259.6 250L509.6 0L566.6 0L316.6 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1007%26quot%3b)'%3e%3c/path%3e%3cpath d='M518.2 250L768.2 0L850.7 0L600.7 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1007%26quot%3b)'%3e%3c/path%3e%3cpath d='M742.8000000000001 250L992.8000000000001 0L1235.8000000000002 0L985.8000000000001 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1007%26quot%3b)'%3e%3c/path%3e%3cpath d='M1431 250L1181 0L1124 0L1374 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1008%26quot%3b)'%3e%3c/path%3e%3cpath d='M1174.4 250L924.4000000000001 0L795.4000000000001 0L1045.4 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1008%26quot%3b)'%3e%3c/path%3e%3cpath d='M932.8 250L682.8 0L517.8 0L767.8 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1008%26quot%3b)'%3e%3c/path%3e%3cpath d='M723.1999999999999 250L473.19999999999993 0L149.19999999999993 0L399.19999999999993 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1008%26quot%3b)'%3e%3c/path%3e%3cpath d='M1226.7290786063534 250L1440 36.72907860635334L1440 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1007%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 250L213.27092139364666 250L 0 36.72907860635334z' fill='url(%26quot%3b%23SvgjsLinearGradient1008%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='1440' height='250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1007'%3e%3cstop stop-color='rgba(96%2c 97%2c 97%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(96%2c 97%2c 97%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1008'%3e%3cstop stop-color='rgba(96%2c 97%2c 97%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(96%2c 97%2c 97%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
	background-repeat: no-repeat;
	/*background-size: 100% 100%;*/
	background-size: cover;
}

.section-alternate * {
	color: var(--white);
}

/* List Styled */
.list-styled,
.terms-page section ul {
	margin: 0 0 20px;
}

.list-styled > li,
.terms-page section li {
	position: relative;
	padding-left: 30px;
	margin-bottom: 15px;
}

.list-styled > li:before,
.terms-page section  li:before {
  background:  url("../images/checked.svg") no-repeat right top;
  background-size: cover;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
  width: 25px; 
  height: 25px; 
  /*background-color: var(--first-brand-color);*/
}

.intro h2,
.intro h3 {
	color: var(--fifth-brand-color);
}

.check-box {
	border: 3px solid var(--third-brand-color);
	border-radius: 20px;
	padding: 20px;
}


/* Home */
.home-hero h1 {
	max-width: 500px;
}


.home-services  {
	padding: 100px 0;
}


.home-services-intro {
	background-color: var(--fifth-brand-color);
	color:  white;
	padding: 70px 0 120px;
}

.home-services-cards {
	margin-top: -70px;
}

.home-services-card {
	position: relative;
	background-color: var(--white);
	padding-bottom: 50px;
	min-height: 350px;
	transition: 0.3s;
}

.home-services-card:hover {
}

.home-services-card img {
	width: 100px;
	height: 100px;
}

.home-services-card h3 {
	font-size: 1.5rem;
	margin-top: 20px;
}

.services-card {
	border-radius: 20px;
	padding: 30px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.services-title {
		color: var(--fifth-brand-color);
}

.home-services-card .services-img {
	margin: 0 auto;
}

.services-img {
	width: 120px;
	height: 120px;
	padding: 20px;
	border-radius: 50%;
	background-color: var(--fifth-brand-color);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}

.services-img > img {
	max-width: 100%;
	height: auto;
}

/* About */
.about-achievements {
	background-color: var(--fifth-brand-color);
	color: white;
}

.expertise-item p {
	font-weight: 600;
	/*color: var(--fifth-brand-color);*/
}

.expertise-img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: var(--fifth-brand-color);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	margin: 0 auto 20px;
}

/* Services Page */
.services-section .services-card {
	padding: 40px;
}

.services-header {
	margin-bottom: 30px;
}

.services-list-title {
	font-size: 1.2rem;
}

.services-section .list-styled {
	border: 1px solid var(--second-brand-color);
	border-radius: 10px;
	padding: 10px;
	margin: 20px 0;
	background-color: var(--third-brand-color);
	color: white;
}

.services-section  .list-styled > li:before {
	filter: brightness(0) invert(1);
}

/* Contact */
.contact-form {
	background: var(--white);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
	border-radius: 20px;
	max-width: 800px;
	width: 100%;
	margin: -150px auto 0;
}

/* Main Footer */
.main-footer {
	background-color: var(--black);
	padding: 40px 0;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	text-align: center;
}

.footer-logo {
	width: 150px;
	height: auto;
	margin-bottom: 1rem;
  /*-webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);*/
}

.main-footer ul a:hover {
	opacity: 0.8;
}

.copyright,
.terms a {
	color: var(--white);
	font-size: 14px;
}


button:disabled {
  opacity: 0.63 !important;
  color: #000 !important;
  cursor: not-allowed;
}

button:disabled:hover {
	background-position: left;
}

/*#captcha {
	max-width: 280px;
	width: 100% !important;
}*/


@media (max-width: 991px) {

}

@media (max-width: 767px) {
	.home-services-intro  {
		padding: 50px 0 100px;
	}
	.main-nav {
		padding: 12px 0;
		border-top: 1px solid var(--first-brand-color);
	}
.main-nav ul {
	gap:  0;
}

	.menu-toggle {
		display: block;
	}

	.main-nav {
		display: none;
		border-radius: 0;
		background-color: #fff;
		/*width: 100%;*/
	}

	.main-nav-open {
		display: block;
		margin-top: 20px;
	}

	.main-nav ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.main-nav li a {
		display: block;
		width: 100%;
		color: #000;
	}

	section {
		padding: 50px 0;
	}

	.services-title {
		margin-top: 20px;
	}


.contact-form {
	margin-top: -100px;
}

.home-services-card  {
	margin-top: 20px;
}

}

@media (max-width: 575px) {

	.hero-section {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='375' height='667' preserveAspectRatio='none' viewBox='0 0 375 667'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1214%26quot%3b)' fill='none'%3e%3crect width='375' height='667' x='0' y='0' fill='rgba(183%2c 151%2c 254%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c176.015C39.237%2c181.144%2c80.614%2c198.111%2c116.21%2c180.826C152.56%2c163.175%2c172.923%2c123.26%2c186.8%2c85.309C200.017%2c49.164%2c199.77%2c10.113%2c192.448%2c-27.67C185.384%2c-64.122%2c166.289%2c-95.368%2c145.786%2c-126.324C122.446%2c-161.563%2c103.619%2c-203.901%2c64.741%2c-220.486C24.649%2c-237.589%2c-23.436%2c-233.185%2c-63.28%2c-215.511C-101.074%2c-198.746%2c-122.198%2c-160.376%2c-146.377%2c-126.837C-168.487%2c-96.168%2c-188.988%2c-65.175%2c-198.109%2c-28.484C-207.972%2c11.191%2c-220.426%2c55.848%2c-200.692%2c91.653C-181.093%2c127.215%2c-135.63%2c137.064%2c-98.198%2c152.799C-66.55%2c166.102%2c-34.04%2c171.565%2c0%2c176.015' fill='%238d5bfd'%3e%3c/path%3e%3cpath d='M375 859.373C412.008 868.236 457.478 864.315 484.748 837.7719999999999 512.08 811.168 496.773 764.383 509.523 728.435 520.684 696.967 555.377 674.573 554.472 641.196 553.5509999999999 607.221 523.803 582.704 504.81 554.519 482.975 522.116 469.81 480.765 434.746 463.524 398.024 445.46799999999996 351.475 443.418 314.496 460.94100000000003 278.72 477.894 270.488 524.056 244.317 553.762 217.838 583.818 165.201 596.374 160.174 636.113 155.131 675.975 194.889 706.83 221.1 737.284 241.452 760.931 270.087 772.825 294.529 792.215 322.466 814.377 340.321 851.067 375 859.373' fill='%23e1d3ff'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1214'%3e%3crect width='375' height='667' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

}

.text-primary {
  color: var(--first-brand-color) !important;
}

.img-white {
	  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}


/*TERMS PAGE*/
.terms-page section {
	padding: 0;
}

.terms-page section:not(:last-child):after {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background-color: lightgray;
	margin: 50px 0;
}

.terms-page section h2 {
	color: var(--fifth-brand-color);
}

.terms-page h1 {
	color: var(--fifth-brand-color);
	margin-top: 100px;
}
