:root {
	/*
	f5ca66
	cea74c
	e3b953
	e3beff
	b797fe
	*/

	--first-brand-color:  #f5ca66;
	--second-brand-color:  #cea74c;
	--third-brand-color:  #e3b953;
	--fourth-brand-color:  #e3beff;
	--fifth-brand-color:  #b797fe;
	--white:  #fff;
	--black:  #000;
}

@font-face {
    font-family: 'Geologica Roman';
    src: url('../fonts/GeologicaRoman-Medium.woff2') format('woff2'),
        url('../fonts/GeologicaRoman-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px; 
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #aaa;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    /*background: var(--third-brand-color);*/
  }

/* Page Wrap */
.page-wrap {
	background-color: var(--white);
	position: relative;
	z-index: 1;
	/*margin-top: 70px;*/
	overflow-x: hidden;
}

/* General */
body {
	font-family: 'Montserrat', sans-serif;
	/*font-family: 'Open Sans', sans-serif;*/
	line-height: 1.5;
	color: var(--black);
	/*zoom:  0.8;*/
}

h1, h2, h3, h4, h5, h6 {
	  font-family: 'Geologica Roman', sans-serif;
	/*font-weight: 700;*/
	/*color: var(--second-brand-color);*/
	/*text-transform: capitalize;*/
}

h2 {
	margin-bottom: 1.5rem;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

section {
	padding: 70px 0;
}

.cta-bottom-canvas {
	background-color: var(--fifth-brand-color);
	/*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(245%2c 202%2c 102%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c394.087C74.69%2c403.758%2c156.278%2c380.41%2c211.711%2c329.428C264.854%2c280.552%2c263.976%2c199.416%2c286.319%2c130.758C305.823%2c70.824%2c345.327%2c14%2c334.567%2c-48.103C323.896%2c-109.692%2c271.466%2c-152.549%2c229.248%2c-198.644C188.176%2c-243.488%2c150.8%2c-297.853%2c91.916%2c-313.038C33.562%2c-328.087%2c-25.541%2c-300.252%2c-81.887%2c-278.881C-134.436%2c-258.95%2c-177.624%2c-226.24%2c-223.294%2c-193.485C-283.422%2c-150.36%2c-366.701%2c-125.869%2c-392.119%2c-56.378C-417.958%2c14.264%2c-393.374%2c97.737%2c-353.04%2c161.228C-314.749%2c221.503%2c-238.793%2c239.497%2c-179.183%2c278.815C-118.672%2c318.727%2c-71.888%2c384.779%2c0%2c394.087' fill='%23f1b325'%3e%3c/path%3e%3cpath d='M1440 1219.7C1561.974 1247.3429999999998 1686.767 1174.969 1788.167 1101.759 1886.325 1030.8899999999999 1947.8609999999999 925.015 1999.696 815.605 2052.1620000000003 704.863 2103.093 588.416 2089.044 466.682 2074.814 343.378 1997.502 240.863 1921.999 142.346 1842.26 38.301000000000045 1769.084-99.34400000000005 1639.597-119.76499999999999 1509.481-140.28499999999997 1404.101-19.875999999999976 1288.007 42.360000000000014 1196.783 91.26299999999998 1101.184 129.49200000000002 1031.638 206.152 960.982 284.036 925.363 381.861 890.128 480.94 846.738 602.949 735.529 740.263 802.219 851.265 871.358 966.342 1064.112 896.856 1180.358 964.01 1287.711 1026.026 1319.087 1192.297 1440 1219.7' fill='%23f9e1a7'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");*/
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
	text-align: center;
	color: var(--white);
}

.cta-bottom-canvas p {
	/*max-width: 800px;*/
	margin-bottom: 20px;
}


/*Hero section*/
.hero-section {
	/*background-image: linear-gradient(var(--fourth-brand-color), var(--fifth-brand-color));*/
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1020%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(183%2c 151%2c 254%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c391.269C77.589%2c388.737%2c154.025%2c382.057%2c224.197%2c348.857C301.514%2c312.277%2c391.066%2c272.373%2c420.807%2c192.176C450.427%2c112.303%2c381.496%2c31.111%2c373.483%2c-53.699C364.881%2c-144.746%2c421.749%2c-245.643%2c372.179%2c-322.495C322.559%2c-399.425%2c216.975%2c-414.683%2c127.669%2c-434.801C42.89%2c-453.9%2c-43.928%2c-458.014%2c-127.762%2c-435.119C-212.701%2c-411.922%2c-300.215%2c-376.062%2c-350.941%2c-304.092C-400.173%2c-234.242%2c-377.466%2c-140.463%2c-394.47%2c-56.716C-412.833%2c33.725%2c-487.796%2c121.519%2c-454.859%2c207.727C-422%2c293.73%2c-319.18%2c329.353%2c-233.803%2c363.804C-159.53%2c393.774%2c-80.049%2c393.881%2c0%2c391.269' fill='%238047fd'%3e%3c/path%3e%3cpath d='M1440 1014.625C1525.247 1025.414 1605.767 976.873 1678.177 930.61 1750.737 884.252 1823.781 829.768 1854.962 749.5070000000001 1885.5059999999999 670.886 1869.04 582.581 1844.7649999999999 501.804 1822.894 429.026 1772.5729999999999 372.35400000000004 1724.0439999999999 313.874 1674.439 254.09699999999998 1633.664 175.99099999999999 1558.411 156.72899999999998 1483.493 137.553 1414.313 198.692 1338.775 215.25900000000001 1255.663 233.48700000000002 1163.964 212.69299999999998 1092.5230000000001 258.91 1011.3969999999999 311.394 942.89 391.251 921.194 485.407 898.872 582.277 911.426 695.612 974.117 772.762 1034.755 847.386 1152.314 830.552 1237.654 874.856 1311.913 913.408 1356.992 1004.119 1440 1014.625' fill='%23efe7ff'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1020'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
background-repeat: no-repeat;
	background-size: 100% 100%;
  min-height: 700px;
  position: relative;
  display: flex;
  align-items: center;
  	color: var(--white);
}

.img-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.hero-section.child {
	min-height: 400px;
}

.hero-section h1 {
	max-width: 800px;

}

.button-primary {
	color: var(--white) !important;
	min-width: 200px;
  background-color: var(--first-brand-color);
  box-shadow: 0 9px var(--second-brand-color);
  transition: 0.3s;
}

.button-primary:hover {
  /*box-shadow: 5px 5px var(--fifth-brand-color);*/
}

.button-primary:active {
  box-shadow: 0 5px var(--second-brand-color);
  transform: translateY(4px);
}


/* Main Header */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  /*height: 80px;*/
  padding: 20px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}


.sticky-header {
	background-color: var(--white);
  top: 0;
  padding: 5px 0;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}


.header-logo {
	width: 170px;
	height: auto;
}

/* Main Navigation */
.main-nav {}

.main-nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 10px;
}


/* SHIFT */
.main-nav li a {
	display: inline-block;
	color: var(--black);
  padding: 12px 24px;
  text-transform: uppercase;
  position: relative;
}

.main-nav li a:hover:after {
	width: 100%;
}

.main-nav li a:after {
	content: '';
	width: 0;
	height: 2px;
	background-color: var(--first-brand-color);
	margin-top: 5px;
	display: block;
	transition: 0.3s;
}

.main-nav-black li a {
	color: #000;
}

.menu-toggle {
	display: none;
  cursor: pointer;
  position: absolute;
  top: 35px;
  right: 20px;
  -webkit-transition:  0.3s;
  transition: 0.3s;
}

.menu-toggle .bar1, .menu-toggle .bar2, .menu-toggle .bar3 {
  width: 30px;
  height: 3px;
  background-color: var(--second-brand-color);
  border-radius: 2px;
  margin: 5px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-toggle.active .bar1 {
  -webkit-transform: translate(0, 8px) rotate(-45deg);
          transform: translate(0, 8px) rotate(-45deg);
}

.menu-toggle.active .bar2 {opacity: 0;}

.menu-toggle.active .bar3 {
  -webkit-transform: translate(0, -8px) rotate(45deg);
          transform: translate(0, -8px) rotate(45deg);
}


/* Container */
.container {
	padding-left: 20px;
	padding-right: 20px;
}

/* Img Placeholder */
.img-placeholder {
	background-color: gray;
	/*width: 300px;
	height: 300px;*/
}

/* Colors */
.text-highlight {
	color: var(--first-brand-color);
}

/*Typography*/
.section-title {
	position: relative;
	padding-bottom: 10px;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.section-title:before {
	background-color: var(--second-brand-color);
    content: '';
    display: block;
    height: 3px;
    width: 50%;
    margin-bottom: 10px;
}

.section-title:after {
    background-color: var(--second-brand-color);
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 50%;
    /*margin-bottom: 0.25em;*/
}

/* Background Colors */
.bg-grad {
	background-image: -webkit-gradient(linear, left top, left bottom, from(var(--first-brand-color)), to(var(--second-brand-color)));
	background-image: -webkit-linear-gradient(var(--first-brand-color), var(--second-brand-color));
	background-image: linear-gradient(var(--first-brand-color), var(--second-brand-color));
}

.primary-bg {
	background-color: var(--first-brand-color);
}

.secondary-bg {
	background-color: var(--second-brand-color);
}

/* Buttons */
.button {
	font-family: 'Montserrat', sans-serif;
	/*font-family: 'Open Sans', sans-serif;*/
	font-weight: 700;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-transform: uppercase;
	padding: 10px 20px;
	min-width: 170px;
	height: 50px;
	border-radius: 10px;
	letter-spacing: 0.5px;
	-webkit-transition:  0.3s;
	transition:  0.3s;
}

/*.button:hover {
	opacity: 0.9;
}*/


.button-bordered {
	color: var(--first-brand-color);
	border: 1px solid var(--first-brand-color);
}

.button-bordered:hover {
	color: white;
	background-color: var(--first-brand-color);
	/*box-shadow: 0 0 0 3px var(--first-brand-color);*/
}

.button-white {
	background: var(--white);
	color: var(--first-brand-color) !important;
}

.button-white:hover {
	opacity: 0.9;
}

.button-grad {
  background-image: -webkit-linear-gradient(left, var(--second-brand-color) 0%, var(--first-brand-color)  51%, var(--second-brand-color)  100%);
  background-image: linear-gradient(to right, var(--second-brand-color) 0%, var(--first-brand-color)  51%, var(--second-brand-color)  100%);
  -webkit-transition:  0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: var(--white);            
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.27);
}

.button-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
}

/* Section Alternate */
.section-alternate {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='250' preserveAspectRatio='none' viewBox='0 0 1440 250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3crect width='1440' height='250' x='0' y='0' fill='rgba(236%2c 28%2c 101%2c 1)'%3e%3c/rect%3e%3cpath d='M47 250L297 0L573 0L323 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1007%26quot%3b)'%3e%3c/path%3e%3cpath d='M259.6 250L509.6 0L566.6 0L316.6 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1007%26quot%3b)'%3e%3c/path%3e%3cpath d='M518.2 250L768.2 0L850.7 0L600.7 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1007%26quot%3b)'%3e%3c/path%3e%3cpath d='M742.8000000000001 250L992.8000000000001 0L1235.8000000000002 0L985.8000000000001 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1007%26quot%3b)'%3e%3c/path%3e%3cpath d='M1431 250L1181 0L1124 0L1374 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1008%26quot%3b)'%3e%3c/path%3e%3cpath d='M1174.4 250L924.4000000000001 0L795.4000000000001 0L1045.4 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1008%26quot%3b)'%3e%3c/path%3e%3cpath d='M932.8 250L682.8 0L517.8 0L767.8 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1008%26quot%3b)'%3e%3c/path%3e%3cpath d='M723.1999999999999 250L473.19999999999993 0L149.19999999999993 0L399.19999999999993 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1008%26quot%3b)'%3e%3c/path%3e%3cpath d='M1226.7290786063534 250L1440 36.72907860635334L1440 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1007%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 250L213.27092139364666 250L 0 36.72907860635334z' fill='url(%26quot%3b%23SvgjsLinearGradient1008%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='1440' height='250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1007'%3e%3cstop stop-color='rgba(96%2c 97%2c 97%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(96%2c 97%2c 97%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1008'%3e%3cstop stop-color='rgba(96%2c 97%2c 97%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(96%2c 97%2c 97%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
	background-repeat: no-repeat;
	/*background-size: 100% 100%;*/
	background-size: cover;
}

.section-alternate * {
	color: var(--white);
}

/* List Styled */
.list-styled {
	margin: 0 0 20px;
}

.list-styled > li {
	position: relative;
	padding-left: 30px;
	margin-bottom: 15px;
}

.list-styled > li:before {
  background:  url("../images/checklist.png") no-repeat right top;
  background-size: cover;
	content: '';
	position: absolute;
	top: 3px;
	left: 0;
  width: 20px; 
  height: 20px; 
  /*background-color: var(--first-brand-color);*/
}

/* Home */
.home-hero h1 {
	max-width: 500px;
}

.home-about h3 {
	color: var(--fifth-brand-color);
}

.home-services  {
	padding: 100px 0;
}

.home-services-card {
	position: relative;
	background-color: var(--white);
	padding-bottom: 50px;
	min-height: 350px;
	transition: 0.3s;
}

.home-services-card:hover {
}

.home-services-card img {
	width: 100px;
	height: 100px;
}

.home-services-card h3 {
	font-size: 1.5rem;
	margin-top: 20px;
}

.services-card {
	border-radius: 20px;
	padding: 30px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.services-title {
		color: var(--fifth-brand-color);
}

/* About */
.about-industries-img {
	background-color: var(--second-brand-color);
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 80px;
	height: 80px;
	margin: 0 auto 1rem;
}

.about-industries img {
	-webkit-filter: invert(1);
	        filter: invert(1);
	width: 50px;
	height: 50px;
}

/* Services Section */
.services-header,
.services-content {
	padding: 1.5rem;
}

.services-list-title {
	font-size: 1.2rem;
}

/* Contact */
.contact-form {
	position: relative;
	z-index: 1;
	background: var(--white);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
	border-radius: 20px;
}

/* Main Footer */
.main-footer {
	background-color: var(--black);
	padding: 40px 0;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	text-align: center;
}

.footer-logo {
	width: 150px;
	height: auto;
	margin-bottom: 1rem;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.main-footer ul a:hover {
	opacity: 0.8;
}

.copyright,
.terms {
	color: var(--white);
	font-size: 14px;
}


button:disabled {
  opacity: 0.63 !important;
  color: #000 !important;
  cursor: not-allowed;
}

button:disabled:hover {
	background-position: left;
}

/*#captcha {
	max-width: 280px;
	width: 100% !important;
}*/

	.services-img {
		max-width: 400px;
		width: 100%;
		height: auto;
		margin: 0 auto 30px;
	}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
	.sticky-header {
		width: 100%;
	}

	.menu-toggle {
		display: block;
	}

	.main-nav {
		display: none;
		border-radius: 0;
		background-color: #fff;
		/*width: 100%;*/
	}

	.main-nav-open {
		display: block;
		margin-top: 20px;
	}

	.main-nav ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.main-nav li a {
		display: block;
		width: 100%;
		color: #000;
	}

	.sticky-header .menu-toggle {
		top: 15px;
	}

	section {
		padding: 50px 0;
	}

	.home-services-card:hover {
		-webkit-transform: scale(1.05);
		        transform: scale(1.05);
		border-radius: 20px;
	}

	.home-services-card a {
		display: block;
	}


	.services-header {
		background-color: var(--first-brand-color);
		border-radius: 50px 50px 0 0;
	}

	.services-header h2 {
		color: #fff;
		margin-top: 20px;
	}

	.services-list-title,
	.services-content .list-styled b {
		color: var(--first-brand-color);
	}

}

@media (max-width: 575px) {}

.text-primary {
  color: var(--first-brand-color) !important;
}

.img-white {
	  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.terms-page section {
	padding: 1rem 0;
}

.terms-page h1 {
	margin-top: 100px;
}
